@page "/"
@using TodoApp.Models.DataModels.Enums

<table class="table">
    <thead>
        <tr>
            <th style="width: 10%"></th>
            <th style="width:65%">Task</th>
            <th style="width: 25%">Timeline</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var todo in CurrentData.OrderBy(x => x.CurrentImportance))
        {
            <tr onclick="document.getElementById('@todo.Id').click(); " hidden="@todo.ShouldBeHidden">
                <td>
                    <div style="white-space: nowrap;">
                    @if (todo.Due)
                    {
                        <input type="checkbox" checked="@todo.Complete" id="@todo.Id" @onchange="(e) => OnCheckboxChange(todo.Id, (bool)e.Value)"/>
                    }
                    else
                    {
                        <input type="checkbox" checked="@todo.ReminderComplete" id="@todo.Id" @onchange="(e) => OnCheckboxChange(todo.Id, (bool)e.Value)"/>
                    }
                    @if (todo.CurrentImportance == Importance.High)
                    {
                        <img src="Resources/Icons/warning.png" width="25px" height="25px" />
                    }
                    </div>
                </td>
                <td>@todo.Label</td>
                <td>@todo.HumanReadableTimeframe</td>
            </tr>
        }
    </tbody>
</table>

@code
{
    private List<TodoRecord> CurrentData { get; set; } = DatabaseHelper.GetData<TodoRecord>();
    private void OnCheckboxChange(long checkboxId, bool checkboxChecked)
    {
        var record = (TodoRecord)CurrentData.FirstOrDefault(x => x.Id == checkboxId);

        if (record.Due)
        {
            record.Complete = checkboxChecked;
        }
        else
        {
            record.ReminderComplete = checkboxChecked;
        }
        DatabaseHelper.UpsertData(record);
    }
}
